.col-md-1{
    background: lavenderblush;
    border: solid 1px;
}
.col-md-4{
    background: cornsilk;
    border: solid 1px;
}
.col-md-6{
    background: moccasin;
    border: solid 1px;
}
.col-md-8{
    background: pink;
    border: solid 1px;
}